<app-menu></app-menu>
<div class="container mt-5">
    <h3 class="text-center">Inventory Items</h3>
    <table class="table mt-3" *ngIf="cartCame == true && cart.inventories.length>0; else CartEmptyBlock">
        <thead>
            <tr>
                <th class="text-center">Name</th>
                <th class="text-center" width="15%"></th>
            </tr>
        </thead>
        <tbody>
                <tr *ngFor="let inventory of cart.inventories">
                    <td class="text-center">{{inventory.name}}</td>
                    <td class="text-center">
                        <button class='btn' class="btn btn-warning" (click)="remove(inventory)">Remove</button>
                    </td>
                </tr>
        </tbody>
    </table>
    <ng-template #CartEmptyBlock>
        <h5 class="text-center">Cart is Empty</h5>
    </ng-template>
    <div *ngIf="cartCame== true && cart.inventories.length>0">
    Remarks<br>
    <input type="text" class="form-control" [(ngModel)]="remarks" /><br><br>
    <button class="btn btn-success" (click)="request()">Request</button>
</div> 
</div>