<app-menu></app-menu>
<!-- <div class="alert alert-warning" *ngIf="error != null && error.status == 0">{{error.statusText}}</div> -->
<!-- <div class="alert alert-warning" *ngIf="error != null && error.status != 0">{{error.error.error}}</div> -->
<div class="container mt-5">
    <h3 class="text-center">Pending Requests</h3>
    <div class="text-center" *ngIf="pendingRequests && pendingRequests.length==0">
        No Pending Requests
    </div>
    <table class="table mt-3" id="tableSort" *ngIf="pendingRequests && pendingRequests.length>0">
        <thead>
            <tr>
                <th class="text-center" width="10%" aria-controls="tableSort" [mdbTableSort]="pendingRequests" [sortBy]="id">id</th>
                <th class="text-center" >Name</th>
                <th class="text-center" >Employee</th>
                <th class="text-center" width="10%">Total Items</th>
                <th class="text-center" width="10%">Total Cost</th>
                <th class="text-center"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let request of pendingRequests; index as i">
                <td class="text-center">{{i+1}}</td>
                <td class="text-center">Request {{request.id}}</td>
                <td class="text-center">{{request.employee.name}}</td>
                <td class="text-center">{{request.totalItems}}</td>
                <td class="text-center">{{request.totalCost}}</td>
                <td class="text-center">
                    <button class='btn' class="btn btn-success"
                        (click)="view(request)">View</button>
                    </td>
            </tr>
        </tbody>
    </table>
</div>