<header>
    <nav class="navbar navbar-expand-md navbar-dark" style="background-color: #000000;">
        <a class="navbar-brand" routerLink="/">SOAR</a>
        <ul class="navbar-nav">
            <li><a routerLink="/responded-requests" class="nav-link">Past Requests</a></li>
            <li><a routerLink="/" class="nav-link">Pending Requests</a></li>
        </ul>
        <ul class="navbar-nav navbar-collapse justify-content-end">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Actions</a>
                <div class="dropdown-menu dropdown-menu-right">
                    <a class="dropdown-item" routerLink="/profile">Profile</a>
                    <a class="dropdown-item" routerLink="/logout">Logout</a>
                </div>
            </li>
        </ul>
    </nav>
</header>